<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape document_id: c4aa493c9127ef72e4e641df -->
<robot name="{robot_name}" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
    <xacro:include filename="xacro_properties/xacro_properties.xacro" />
    <xacro:include filename="modules/chassis_and_wheels.xacro" />
    <xacro:include filename="modules/camera.xacro" />
    <xacro:include filename="modules/lidar.xacro" />
    <xacro:include filename="modules/imu.xacro" />
    <xacro:include filename="gazebo/gazebo_plugins.xacro" />
    <xacro:include filename="gazebo/gazebo_properties.xacro" />
 
</robot>
