<?xml version="1.0" ?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Link lidar_link -->
  <link name="lidar_link">
    <inertial>
      <origin xyz="-1.11789e-18 1.22638e-20 -0.00745144" rpy="0 0 0"/>
      <mass value="0.0267087"/>
      <inertia ixx="4.66132e-06" ixy="0" ixz="0" iyy="4.66132e-06" iyz="0" izz="8.33295e-06"/>
    </inertial>
    <!-- Part lidar_link -->
    <visual>
      <origin xyz="0 1.53081e-18 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://slambot_description/assets/lidar_link.stl"/>
      </geometry>
      <material name="lidar_link_material">
        <color rgba="0.301961 0.301961 0.301961 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 1.53081e-18 0" rpy="3.14159 -0 0"/>
      <geometry>
        <mesh filename="package://slambot_description/assets/lidar_link.stl"/>
      </geometry>
    </collision>
  </link>
  <!-- Joint from base_link to lidar_link -->
  <joint name="lidar_joint" type="fixed">
    <origin xyz="-0.0440219 2.92864e-17 0.09" rpy="3.14159 -0 0"/>
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="100"/>
  </joint>
  
</robot>