teleop_twist_joy_node:
  ros__parameters:
    # --- Enable Button (SAFETY FIX) ---
    # We set this to TRUE to stop the robot moving on startup
    require_enable_button: false
    enable_button: 4  # Button 4 is usually LB (Left Bumper) in X-Mode

    # --- Axis Mappings (UPDATED for F710 in X-Input mode) ---
    axis_linear:
      x: 1  # Left Stick Vertical (Stays the same)
    
    axis_angular:
      yaw: 3  # Right Stick Horizontal (Changed from 2 to 3)

# --- Scaling (These remain exactly as you tuned them) ---
    scale_linear:
      x: 0.2 
    
    scale_angular:
      yaw: 0.88


# The above scales give the following on /wheel_commands
# Forward Only: 5.88 rad/s on all wheels
# Backward Only: -5.88 rad/s on all wheels
# Turn in Place Right: 2.5 rad/s on left wheels, -2.5 rad/s on right wheels
# Turn in Place Left: -2.5 rad/s on left wheels, 2.5 rad/s on right wheels
# Forward + Turn Right: 8.44 rad/s on left wheels (clamped to 5.89 by the driver), 3.32 rad/s on right wheels
# Forward + Turn Left: 8.44 rad/s on right wheels (clamped to 5.89 by the driver), 3.32 rad/s on left wheels
# Backward + Turn Right: -8.44 rad/s on right wheels (clamped to -5.89 by the driver), -3.32 rad/s on left wheels
# Backward + Turn Left: -8.44 rad/s on left wheels (clamped to -5.89 by the driver), -3.32 rad/s on right wheels
